@model List<Person>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}




<h2>@ViewData[StaticValues.ViewData.Title]</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Family</th>
            <th scope="col">Grade</th>
            <th scope="col">SSN</th>
            <th scope="col">Age</th>
            <th scope="col">BirthDate</th>
            <th scope="col">PersianBirthDate</th>
            <th scope="col">Gender</th>
            <th scope="col">Telephones</th>
            <th scope="col">Emails</th>
            <th scope="col">Title English</th>
            <th scope="col">Title Persian</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                        <td>@item.ID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Grade</td>
                        <td>@item.SSN</td>
                        <td>@item.Age</td>
                        <td>@item.BirthDate</td>
                        <td>@item.PersianBirthDate</td>
                        <td>@item.Gender</td>

                        <td>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Telephones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    @{
                                        foreach (var i in item.Telephones)
                                        {
                                            <button class="dropdown-item" type="button">@i.Number</button>
                                        }
                                    }

                                </div>
                            </div>
                        </td>

                        <td>


                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Emails
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                @{
                                    foreach (var i in item.Emails)
                                    {
                                        <button class="dropdown-item" type="button">@i.EmailAddress</button>
                                    }
                                }

                            </div>
                        </div>


                        </td>

                        <td>@item.TitleEn</td>
                        <td>@item.TitleFa</td>
                    </tr>
            }
        }
    </tbody>
</table>